<div *ngIf = "location">

<h3>{{ location.name }}</h3>

<button (click)='deleteLocation()'>Delete</button>
<button (click)='editLocation()'>Edit</button>


<app-location-edit *ngIf="isEditing" (submitted)="closeEdit()" (cancled)="closeEdit()" [location]="location"></app-location-edit>



<h4>Nests:</h4>
<button (click)="isAddingNest = true" *ngIf="!isAddingNest">Add Nest</button>

<app-nest-edit *ngIf="isAddingNest" [location]="location" (submitted)="onEditSubmit()" (cancled)="onAddNestCancel()"></app-nest-edit>
<table>
    <tr><th>ID</th><th>Name</th><th>Actions</th></tr>
    <tr *ngFor="let nest of location.nests">
        <td>{{nest.id}}</td>
        <td><a routerLink="/nests/{{nest.id}}">{{nest.name}}</a></td>
        <td>
          <ul><li><a (click)="deleteNest(nest)">Delete</a></li></ul>
        </td>
    </tr>
</table>




<!-- <ul>
    <li *ngFor="let nest of location.nests"><a routerLink="/nests/{{nest.id}}">{{nest.name}}</a></li>
</ul> -->

</div>

<button (click)='goBack()'>Back</button>