/* You can add global styles to this file, and also import other style files */

body {
    font-family: arial;
}

table {
    border-collapse: collapse;

    td, th {
        padding: 5px;
        border: 1px solid black;
    }
}